.tabs.profile{
    border: none;
}
.fas.fa-phone-square-alt.fa-2x{
    color: #00D1B2;
}
.fas.fa-comment-alt.fa-2x{
    color:#00D1B2 ;
}
.level{
    width: 100%;
}
.sub-menu-tabs{
    width: 100%;
}
.sub-menu-icons{
    width: 100%;
}